
cl_bp_like.pdf
cl_bp_like_sum.pdf
data/actpolfull_dr4.01.tar
data/actpolfull_dr4.01
data/multifreq_spectra_dr4.01
data/COM_*
data/*
__pycache__
output/*
contour_atsz_wo_aksz_symcov.pdf
contour_atsz_wo_aksz.pdf
contour_atsz_w_aksz_symcov.pdf
contour_atsz_w_aksz_aps_manyfreqs.pdf
contour_atsz_w_aksz_aps.pdf
contour_atsz_w_aksz.pdf
contour_atsz.pdf
*.png
.DS_Store
bplike.egg-info
dist
build
chains
bplike/output
bplike/data
notebooks/.ipynb_checkpoints/bplike_wip-checkpoint.ipynb
notebooks/bplike_wip.ipynb
notebooks/*.pdf
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
