*.png
chains/
data/
notebooks/.ipynb_checkpoints
.DS_Store
power_atsz_analysis.py
act_baseline.yml
act.yml
test_like.py
test_like_extended.py
__pycache__
build/
bplike.egg-info/
dist/
output/
bplike/config_stampede.py
run_scripts/act_extended_act_only_stampede.yml
notebooks/comp.pdf
notebooks/lambda_diagC^-1C_cov210627_15mJy.txt
